/*menu superior*/

.menu-heat {
background-color: #1af51ac7;
font-size: 18px;
}
.menu-heat ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.menu-heat ul li {
	display: inline-block;
	
}
.menu-heat ul li a {
	display: block;
	text-decoration: none;
	padding: 10px;
}
.menu-heat ul li a:hover{
	background-color: red;
}

/*menu superior*/

.menu-segundo {
background-color: #1af51ac7;
font-size: 18px;
}
.menu-segundo ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.menu-segundo ul li {
	display: inline-block;
	float: center;
}
.menu-segundo ul li a {
	display: block;
	text-decoration: none;
	padding: 10px;
}
.menu-segundo ul li a:hover{
	background-color: red;
}